* {
    padding: 0; margin: 0;
    font-family:  'Malgun Gothic';
}
.AppWrap > div{
    display: none;
}
.Main{
}
html, body{
    width:100%; height: 100%;
}
.AppWrap > div{
    display: none;
}
.AppWrap {
    padding: 16px;
    height: 600px;
    overflow-y: scroll;
}
.iddiv > h1{
    text-align: center;
    width: 10%;
    border-radius: 5px;
    font-size: 30px;
}
.Item3{
    background-color: #FFF;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
.Item, .Item1, .Item2, .Item6{
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.Item5{
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
     text-align: center;
}
.ItemText, .ItemText1, .ItemText2, .ItemText6, .ItemText5{
    padding: 8px;
}
.ItemText > h4, .ItemText1 > h4, .ItemText2 > h4, .ItemText6 >h4, .ItemText5 >b{
    margin-bottom: 4px;
}
.ItemText > h6 , .ItemText1 > h6, .ItemText2 > h6, .ItemText6 > h6{
    margin-bottom: 12px;
}
.ItemText > p, .ItemText1 > p, .ItemText2 > p, .ItemText6 >p{
    font-size:14px;
}
.ItemButtons {
    text-align: right;
}


/*메뉴슬라이드*/

.VirtualView {
width: auto;
height: 100%;
overflow: hidden;
position: absolute;
z-index: 2;
transition: transform 600ms;
transform: translate(-150px, 0px);
-ms-transition: -ms-transform 600ms;
-webkit-transition: -webkit-transform 600ms;
-moz-transition: -moz-transform 600ms;
-o-transition: -o-transform 600ms;
-ms-transform: translate(-150px, 0px);
-webkit-transform: translate(-150px, 0px);
-moz-transform: translate(-150px, 0px);
-o-transform: translate(-150px, 0px);
}
.hideMenuBody {
width: 150px;
height: 880px;
background-color: #4d4d4d;
padding-top: 100px;
transition: transform 600ms;
transform: translate(-150px, 0px);
-ms-transition: -ms-transform 600ms;
-webkit-transition: -webkit-transform 600ms;
-moz-transition: -moz-transform 600ms;
-o-transition: -o-transform 600ms;
-ms-transform: translate(-150px, 0px);
-webkit-transform: translate(-150px, 0px);
-moz-transform: translate(-150px, 0px);
-o-transform: translate(-150px, 0px);
}
.hideMenuBody > div {
width: 150px;
height: 30px;
line-height: 30px;
vertical-align: middle;
text-align: center;
color: #ffffff;
cursor: pointer;
margin-bottom: 5px;
box-shadow: 1px 1px 0px #ffffff;
}
.hideMenuBody > div:hover {
background-color: #808080;
}
.circleBt {
width: 50px;
height: 50px;
position: absolute;
bottom: 10px;
left: 10px;
border-radius: 25px;
cursor: pointer;
background: radial-gradient(#4d4d4d 50%, #ffffff 60%, #4d4d4d 10%);
}
.circleBt:hover {
background: radial-gradient(#A5A5A5 50%, #ffffff 60%, #A5A5A5 10%);
}
.circleBt > div {
width: 24px;
height: 5px;
background-color: #ffffff;
margin-top: 5px;
margin-left: 13px;
}
.ui-icon-loading{
    display: none;
}